@{
    ViewBag.Title = "Home";
}

<h1>Welcome to the Book Store!</h1>

<p>Make yourself at home and check out the books.</p>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Book" asp-action="List"
               class="list-group-item">View our books</a>
        </div>
    </div>
</div>

